.item-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
  border: 1px solid #cbcbcb;
  border-radius: 10px;
  img {
    width: 270px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 10px;
  }
  .content-container {
    .top-content-container {
      display: flex;
      justify-content: space-between;
      padding-left: 12px;
      h3,
      h5 {
        margin: 10px;
      }
      h3 {
        color: #424242;
        letter-spacing: 0.7px;
      }
      h5 {
        color: var(--primary-color);
      }
    }
    p {
      color: #757373;
      font-size: 15px;
      padding: 0 10px;
    }
  }
}
