.filter-items-container {
  text-align: center;
  h1 {
    width: fit-content;
    margin: 15px auto 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-color);
  }
  .filtering-items {
    .filter-item {
      padding: 12px 17px;
      margin-left: 13px;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      font-size: 17px;
      font-weight: 500;
      &:hover {
        background-color: var(--primary-color);
        color: white;
        transform: scale(1.15);
      }
    }
  }
}
